.cart-item {
    padding: 1.2rem;
    border: 1px solid #dbd7d7;
    box-shadow: rgba(161, 153, 153, 0.1) 0px 4px 12px;
    border-radius: 10px;
    background: #fff;
}
.cart-details {
    /* border: 1px solid #4936d5; */
    box-shadow: rgba(5, 1, 1, 0.1) 0px 4px 12px;
    border: 2px solid #dbd7d7;
}
.cart-collapse-btn {
    background: none;
    border: none;
}
.decre-btn,
.incre-btn {
    width: 34px;
    height: 36px;
    border-radius: 100%;
    background: var(--page-background);
    font-size: 16px;
    border: none;
    color: #9e9e9e;
    font-size: 18px;
    text-align: center;
    box-shadow:
        rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.cart-container .item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
}
.ready-btn {
    background: var(--btn-background-color);
    border-radius: 0.25rem;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.auto-topup {
    box-shadow: rgba(5, 1, 1, 0.3) 4px 4px 4px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: var(--primary-color);
}

.addon-popover {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 6px;
    background: rgb(162, 221, 150, 0.5);
    color: #035401;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    width: 220px;
    z-index: 50;
    border: 1px solid #eee;
    text-wrap: auto;
}

.addon-tooltip::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
}
.addon-add-btn {
    background-color: var(--btn-background-color);
    border: none;
    padding: 10px 22px;
    border-radius:0.25rem;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.25s ease;
}

.addon-add-btn:hover {
    background-color: var(--btn-background-color);
    transform: translateY(-1px);
    box-shadow: 0 6px 16px rgba(219, 171, 50, 0.35);
}

.Order-summary .sub-total p {
    font-size: 24px;
    font-weight: 700;
}
.Order-summary .sub-total span {
    font-size: 22px;
    font-weight: 500;
}
.Order-summary .sub-total h2 {
    color: var(--primary-color);
}

.cart-container .item-count span {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-secondary-color);
    margin: 0 5px;
}

.cart-collapse-btn i {
    transition: transform 0.2s ease;
}

.cart-collapse-btn[aria-expanded="true"] i {
    transform: rotate(180deg);
}
