.plan-details{
 background: #e2e6f6;
  padding: 4rem 0;
}


.package-option {
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  padding: 18px;
  margin-bottom: 14px;
  cursor: pointer;
  background: #ffffff;
  transition: all 0.25s ease;
}

/* Hover effect */
.package-option:hover {
  border-color: var(--primary-color);
}

/* Selected State */
.package-option.selected {
  border: 2px solid var(--primary-color);
  background: #ffffff;
}

/* Remove old blue color */
.package-option.selected h5,
.package-option.selected strong {
  color: var(--primary-color);
}

.package-option.active {
  border: 1px solid var(--primary-color);
  background-color: #eaf3ff;
}

.plan-continent{
  height: 250px ;
}

.plans-package-title i{
  padding:10px;
  background: var(--primary-color);
  color: white;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 18px;
}
  .package-option.recommended {
            background-color: #e6fbe6;
            border-color: none;
        }


          .package-option {
            border: none;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 10px;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        }

        .package-option.selected {
            border-color: #007bff;
            background-color: #e9f4ff;
        }

    

        .addon-box {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 10px;
            background-color: #f9f9f9;
        }
        .countries-list>div{
         margin-bottom: 10px;
          
        }
        .countries-list>div label{
          display: block;
          
        }
        .package-option .price {
  font-size: 18px;
  font-weight: 700;
  color: #111111;
}
