    .terms-page {
  background: var(--page-background);
}

/* HERO */
.terms-hero {
   background: var(--highlight-background);
    color: var(--white);
    border-radius: 24px;
    padding: 60px 30px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.terms-hero .hero-overlay {
  display: none;
}

.terms-hero .hero-content {
  /* position: relative; */
  z-index: 2;
  color: #fff;
 
}

.terms-hero h1 {
  font-weight: 700;
  font-size: 2.6rem;
}

.terms-hero span {
  color: #304eb6;
}

.terms-hero p {
  max-width: 650px;
  opacity: 0.95;
}

/* INTRO */
.terms-page .intro-box {
  background: #fff;
  border-radius: 18px;
  padding: 25px 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  /* margin-top: -60px; */
  position: relative;
  z-index: 3;
}

.terms-page .intro-box h4 {
  color: var(--blue);
  font-weight: 600;
}

/* CARDS */
.terms-card {
  background: #fff;
  border-radius: 18px;
  padding: 26px 30px;
  margin-top: 35px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.terms-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 45px rgba(0,0,0,0.08);
}

.terms-card h5 {
  color: var(--heading);
  font-weight: 600;
  margin-bottom: 10px;
}

.terms-card p {
  color: var(--content-text);
  font-size: 15px;
  line-height: 1.7;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .terms-hero {
    height: auto;
    padding-bottom: 30px;
  }

  .terms-hero .hero-content {
    padding-top: 60px;
  }

  .terms-hero h1 {
    font-size: 2rem;
  }

  .terms-page .intro-box {
    margin-top: -30px;
  }
}
